[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/UltiSnips"]
	path = vim/UltiSnips
	url = https://github.com/ddpom/UltiSnips.git
[submodule "scripts"]
	path = scripts
	url = https://github.com/ddpom/scripts.git
